<main>
    <h2>Action</h2>
    <!-- Maybe some back button to look at all sessions? -->
    <a class="home" id="home" href="{{back}}">Back</a>
    <table>
        <tr>
            <th>Type</th>
            <th>Author</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>{{action.type}}</td>
            <td>{{firstName}} {{lastName}}</td>
            <td>{{action.value}}</td>
        </tr>
    </table>
    <h3>Votes</h3>
    <table>
        <tr>
            <th>Yay</th>
            <th>Nay</th>
            <th>Abstain</th>
        </tr>
        <tr>
            <td>{{action.votingRecord.Yay}}</td>
            <td>{{action.votingRecord.Nay}}</td>
            <td>{{action.votingRecord.Abstain}}</td>
        </tr>
    </table>
</main>