<main>
    <a class="home" id="home" href="{{session_route}}">To Organization</a>
    <h2>Actions</h2>
    {{#if actions}}
    <table>
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th>More Info</th>
        </tr>
        <tr>
            {{#each actions}}
            <td>{{this.type}}</td>
            <td>{{this.value}}</td>
            <td><a href="/action/{{this.actionId}}">View More Info</a></td>
            {{/each}}
        </tr>
    </table>
    {{else}}
        <h3>There were no actions in this session!</h3>
    {{/if}}
</main>