<div class="organization-page">
    <a class="home" id="home" href="/home">Back Home</a>
    {{#unless owner}}
    <a class="leaveOrg" id="leave" href="/leaveorganization/{{orgData.orgName}}">Leave This Org</a>
    {{/unless}}
    <h1 id="orgTitle">{{org_name}}</h1>
    {{#if owner}}
        <h2>You are the owner in this organization!</h2>
    {{else}}
        <h2>You are a {{role}} in this organization!</h2>
    {{/if}}
    {{#if owner}}
    <a class="deleteOrg" id="delete" href='javascript:void(0)'>Delete This Org</a>
    <form id="delete_org_form" method="POST" action="/deleteorganization/{{orgData.orgName}}" hidden>
        <button id="delete_button">Are you sure you want to delete the page?</button>
    </form>
    <div class="members-container">
        <h3 id="members_title">Members</h3>
        <ul id="membersList">
            {{#each members}}
            <li><a href='javascript:void(0)' data-name='{{this.userName}}'
                    data-role="{{this.role}}">{{this.userName}}:{{this.role}}</a></li>
            {{/each}}
        </ul>
        <form id="update_form" hidden>
            <button id="switch_role">Change Role</button>
            <button id="kick_out">Kick Out</button>
        </form>
        <form id="switch_form" hidden>
            <label for="update_role">Select a role for this user:</label>
            <select id="update_role">
                <option value="member">Member</option>
                <option value="moderator">Moderator</option>
                <option value="owner">Owner</option>
            </select>
            <button id="switch_value">Submit</button>
        </form>
        <form id="kickout_user" hidden>
            <label>Are Your Sure You Want To Kick Out This User?</label>
            <button id="kickout_yes" value="kickout">Kick Out</button>
            <button id="kickout_no">Nevermind</button>
        </form>
        <form id="switch_owner_form" method="GET" action="/organization/{{orgData.orgName}}" hidden>
            <label for="update_owner_role">Now, Select a role for yourself:</label>
            <select id="update_owner_role">
                <option value="member">Member</option>
                <option value="moderator">Moderator</option>
            </select>
            <button id="switch_owner_value">Submit</button>
        </form>
    </div>
    {{/if}}
    <div class = "sessions-container">
        <h3 id="sessions_title">Sessions</h3>
        {{#if moderator}}
        <div>
            <a class="create_sesh" id="create_session" href="/session/createsession/{{orgData.orgName}}">Create a new
                session</a>
        </div>
        {{/if}}
        <div>
            <ul id="sessionsList">
                {{#each sessions_list}}
                <li><a href='/session/joinsession/{{this.id}}' id="session_elem">{{this.date}} {{this.name}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src='/public/js/main.js'></script>
</div>