<div>
    <a class="home" id="home" href="/organization/{{sessionData.orgName}}">Back to Organization</a>
    <h1 id="sessionTitle">{{sessionData.Proposal}}</h1>
    <h2>Your are a {{Role}} in this session</h2>
    <h2>Use this link to share the session page: <a href="javscript:void(0)">{{sessionLink}}</a></h2>
    <form method="PATCH" action="/session/leavesession/{{sessionData._id}}">
        <input type="submit" value="Leave Session">
    </form>

    <div id="currentVoteDiv">
        <h3>On Call</h3>
        <div class="greyPanel">
            {{!-- Change this with client side JS and AJAX --}}
            <p id="votingPrompt"></p>
            {{#if isVoter}}
            {{!-- Add button functionality with JS --}}
            <div>
                <button id="yayVote">Yay</button>
                <button id="nayVote">Nay</button>
                <button id="absVote">Abstain</button>
            </div>
            <p class="voteCast" hidden></p>
            {{/if}}
        </div>
    </div>
    <div id="sessionLog">
        <h3>Session Log</h3>
        <ul id="sessionLog" class="greyPanel">
            {{!-- Populate this with JS --}}
        </ul>
    </div>
    <div id="queue">
        <h3>Queue</h3>
        <div class="greyPanel">
            <h4>Next up:</h4>
            <div id="upcoming">
                <ul id="actionQueue">
                    {{!-- Populated this with JS --}}
                </ul>
            </div>
        </div>
    </div>
    <div id="buttons">
        {{!-- Have to do separate if for vote and guest bc handlebars is annoying --}}
        {{#if isVoter}}
        {{!-- Add functionality with JS and AJAX --}}
        <a href="/action/createmotion/{{sessionData._id}}">
            <button id="createMotion">Create Motion</button>
        </a>
        <a href="/action/createamendment/{{sessionData._id}}">
            <button id="createAmendment">Create Amendment</button>
        </a>
        {{/if}}
        {{#if isGuest}}
        {{!-- Add functionality with JS and AJAX --}}
        <a href="/action/createmotion/{{sessionData._id}}">
            <button id="createMotion">Create Motion</button>
        </a>
        <a href="/action/createamendment/{{sessionData._id}}">
            <button id="createAmendment">Create Amendment</button>
        </a>
        {{/if}}
        {{#if isModerator}}
        <form method="PATCH" action="/session/endsession/{{sessionData._id}}">
            <input type="submit" value="End Session">
        </form>
        {{/if}}
    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>
        const sessionId = "{{sessionData._id}}";
        const isModerator = "{{isModerator}}";
    </script>
    <script src="/public/js/sessions.js"></script>

</div>